<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Registre-se
        </div>
        <div class="card-body">
            <form id="Myform">
                <div class="formMail">
                    <input type="name" class="form-control" id="name" placeholder="Usuário: ">
                </div>
                <div class="formUser">
                    <input type="email" class="form-control" id="email" placeholder="Email: ">
                </div>
                <div class="formPassword">
                    <input type="password" class="form-control" id="password" placeholder="Senha: ">
                </div>
            </form>

            <button id='button-click' type="submit"
            class="btn btn-primary">Entrar</button>
            
        </div>
    </div>
</body>

<script>

    $('#button-click').click(function () {
        $.ajax(
            {
                type: "POST",
                url: 'http://localhost:3001/api/user/register',
                data: JSON.stringify({
                    "name": $("#name").val(),
                    "email": $("#email").val(),
                    "password": $("#password").val()
                }),
                error: function (e) {
                    console.log(e)
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            }

        )      

        window.location.href="login.html"
    })



    /*/var response = '';
    $('#button-click').click(function () {
        response = $.post("http://localhost:3001/api/user/register", {
            "name": $("#name").val(),
            "email": $("#email").val(),
            "password": $("#password").val()
        })

        alert('Funcionou')

        localStorage.setItem('chavePersistida', JSON.stringify(response));

    });
    /*/

</script>

</html>